.UserList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__controlWrapper {
    width: 100%;
  }

  &__refreshBtn {
    cursor: pointer;
    margin: 10px auto;
    padding: 0;

    min-width: 220px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 22px;
    border: none;
    background: rgba($color: #3ca12f, $alpha: 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F2020;

    &:disabled {
      background: rgba($color: #818381, $alpha: 0.5);
    }
  }

  &__sortOrderBtn {
    margin: 10px auto;
  }

  &__filterInput {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;
    color: #1F2020;
  }

  &__header {
    margin: 40px 20px;
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;
    color: #1F2020;
  }

}

@media all and (min-width: 640px) {
  .UserList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__sortOrderBtn {
      margin: 10px;
      width: auto;
    }
  }
}