.LoginForm {
  margin: 0 auto;
  min-width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  
  padding: 10px 10px;

  text-align: left;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__headline {
    margin: 0 0 20px 0;
  }

  &__inputField {
    margin: 10px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;
    color: #1F2020;
  }

  &__listLink {
    margin: 0 auto;
    padding: 0;

    min-width: 250px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 22px;
    border: none;
    background: rgba($color: #3ca12f, $alpha: 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F2020;
  }

  &__signInBtn {
    cursor: pointer;
    margin: 10px auto;
    padding: 0;

    min-width: 250px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 22px;
    border: none;
    background: rgba($color: #be2121, $alpha: 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F2020;

    &--green {
      background: rgba($color: #3ca12f, $alpha: 0.5);
    }
    
    &:disabled {
      background: rgba($color: #808080, $alpha: 0.5);
    }
  }
}

@media all and (min-width: 640px) {
  .LoginForm {
    margin: 40px auto;
    min-width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    
    padding: 20px 30px;
  
    text-align: left;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    &__headline {
      margin: 0 0 20px 0;
    }
  }
}